<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="microsoft.visualstudio.qualitytools" 
				 type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection, Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions"/>
			</configSections>

	<connectionStrings>
		<add name="SQLDBConnection" connectionString="data source = DESKTOP-S15FSJL;database=Testing;integrated security=true" providerName="System.Data.SqlClient"/>
		<add name="XMLConnection" connectionString="Employees.xml" providerName="Microsoft.VisualStudio.TestTools.DataSource.XML"/>
		<add name="CSVConnection" connectionString="Employee.csv" providerName="Microsoft.VisualStudio.TestTools.DataSource.CSV"/>
	</connectionStrings>

	<microsoft.visualstudio.qualitytools>
		<dataSources>
			<!--<add name="UnitTestDataSource" connectionString="SQLDBConnection" dataTableName="EmployeeUT" dataAccessMethod="Sequential"/>-->
		<add name="UnitTestDataSource" connectionString="XMLConnection" dataTableName="Employee" dataAccessMethod="Sequential"/>
			<!--<add name="UnitTestDataSource" connectionString="CSVConnection" dataTableName="Employee.csv" dataAccessMethod="Sequential"/>-->
		</dataSources>
	</microsoft.visualstudio.qualitytools>
</configuration>